@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 16px;
}

section {
  max-width: 100%;
  width: 50%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/bg-intro-desktop.png) no-repeat var(--Red);
  background-size: cover;
  padding: 0px 160px;
  color: var(--white);
}

.learn {
  padding-right: 10px;
  margin-right: 30px;
}

h1 {
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 35px;
}

.learn p {
  line-height: 26px;
  opacity: 0.9;
}

.head {
  width: 90%;
  background-color: var(--Blue);
  color: var(--Grayish-Blue);
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-right: 30px;
}

.head span {
  color: var(--white);
  font-weight: 600;
}

#form {
  width: 90%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  border-radius: 8px;
}

form div {
  display: flex;
  flex-direction: column;
}

div,
button {
  width: 100%;
}

input,
button {
  padding: 17px 25px;
  margin-bottom: 18px;
  border: 1px solid #efefef;
  border-radius: 8px;
  font-weight: 600;
}

button {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--Green);
  font-size: 16px;
}

form p {
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin: auto;
}

form p span {
  color: var(--Red);
  font-weight: 700;
}

input:focus,
button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.error {
  border: 2px solid var(--Red);
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95% 50%;
}

.error-text {
  font-size: 12px;
  font-style: italic;
  margin-left: auto;
  margin-top: -15px;
  margin-bottom: 20px;
  color: var(--Red);
}

.success {
  border: 2px solid var(--Green);
}

@media (max-width: 768px) {
  main {
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/images/bg-intro-mobile.png) no-repeat var(--Red);
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .learn {
    text-align: center;
    padding: 40px 0px 60px;
  }

  form p {
    text-align: center;
  }

  h1 {
    font-size: 38px;
  }

  .head {
    padding: 15px 60px;
  }
}
